/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #ff0000; /* Red color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #ff6666; /* Light red */
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3333; /* Darker red on hover */
}
